## ==========================================
## Visual Studio & IDE Local Settings
## ==========================================
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## ==========================================
## Build & Output Directories
## ==========================================
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## ==========================================
## SQL Server Data Tools (SSDT) & Database Projects
## ==========================================
*.dbmdl
*.jfm
#*.sqlproj.user
*.publish.xml

## ==========================================
## Windows / OS Junk
## ==========================================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/